html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Arial", sans-serif;
  font-size: 12pt;
}

main {
  max-width: 768px;
  margin: 0 auto;
  padding: 12px;
}

h4 {
  margin-bottom: 4px;
}

td {
  padding-right: 10px;
}

li {
  margin-bottom: 10px;
}
li p {
  margin-top: 6px;
  margin-left: 16px;
  margin-bottom: 0px;
}
