html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Arial", sans-serif;
  font-size: 12pt;
}

main {
  max-width: 768px;
  margin: 0 auto;
  padding: 12px;
}

h4 {
  margin-bottom: 4px;
}

tr td {
  padding-right: 10px;
  vertical-align:top;
}
.period {
  font-size: 8pt;
  padding-top: 2pt; /* to compensate for the default 12pt font */
  width: 20%;
  min-width: 95px;
  text-align: right;
}
td ul {
  margin: 0;
}
td ul li {
  margin: 0;
}

li {
  margin-bottom: 10px;
}
li p {
  margin-top: 6px;
  margin-left: 16px;
  margin-bottom: 0px;
}

